.input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: $l-size; 
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column; 
    margin-bottom: $s-size; 
  }
}

.input-group__item {
  margin: 0 $s-size 0 0;
  @media (max-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
  }
}

.input-group__item--label {
  margin-bottom: 0;
  margin-right: 0.4rem;
  @media (min-width: $desktop-breakpoint) {
    align-self: center;
  }
}