// Colors
$dark-grey: #333333;
$grey: #666;
$off-white: #f7f7f7;
$asana-green: #3be8b0;
$asana-blue: #1aafd0;
$asana-purple: #6a67ce;
$asana-orange: #ffb900;
$asana-pink: #fc636b;

// Font size
$font-size-xxlarge: 4.0rem;
$font-size-xlarge: 2.0rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 47rem